.column {
    width: 10%;
    display: inline-block;
    grid-template-columns: auto;
    grid-gap: 10px;
    border: 2px;
    border-color: black;
    float: left;
    padding: 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}